<!doctype html>
<html lang="en" data-theme="cmyk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'full.css' %}">
    <script src="{% static 'tailwindcss' %}"></script>
    <title>Mi primer Robot</title>
</head>
<body>
    <div class="container mx-auto max-w-xl rounded-lg shadow-2xl border-4 px-4">
        <p class="text-center uppercase font-bold my-4" >Mi primer robot: <span class="text-primary">FOX</span></p>
        <div class="rounded-lg shadow-2xl border-2 m-2 p-2 grid grid-cols gap-2">
            <form action="/brazo_mover/" method="post">
                {% csrf_token %}
                <button class="btn btn-primary">Mover brazo</button>
            </form>
            <form action="/brazo_arriba/" method="post">
                {% csrf_token %}
                <button class="btn btn-primary">Brazo arriba</button>
            </form>
            <form action="/brazo_abajo/" method="post">
                {% csrf_token %}
                <button class="btn btn-primary">Brazo abajo</button>
            </form>
            <form action="/bailar/" method="post">
                {% csrf_token %}
                <button class="btn btn-primary">Bailar</button>
            </form>
        </div>
    </div>

</body>
</html>
